input {
    border: 1px solid #cccccc;
    padding: 8px;
    margin: 10px;
}

textarea {
    border: 1px solid #cccccc;
    padding: 8px;
    margin: 10px;
    width: 500px;
    height: 150px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    
     
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
